@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Permanent+Marker&family=Goldman&family=Roboto&display=swap');
/*  font-family: 'Fjalla One', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Goldman', cursive;
    font-family: 'Roboto', sans-serif; */

html {
  box-sizing: border-box;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  letter-spacing: 0.5px;
  margin: 0;
  min-height: 100%;
  background-image: url(images/green_grid.png);
  position: static;
}

#canvas {
  background: black;
  position: fixed; 
  top:0; 
  left:0;
  z-index: -1;
}

header {
  background-color: rgb(97, 137, 47);
  margin-top: 0px;
  padding: 0px;
  border-bottom: 100px;
  border-color: linear-gradient(
    180deg, 
    rgba(97, 137, 47, 1) 0%, 
    rgba(0, 12, 0, 0) 100%);
  /* border-color:  */
}

h1, h2 {
  font-family: 'Goldman', cursive;
  text-align: center;
  color: seagreen;
}

h1 {
  margin: 0px;
  padding: 20px;
  color: azure;
  text-shadow: 2px 2px 2px rgb(0, 54, 12);
  animation: jump 6s infinite;
}

@keyframes jump {
  50% {
    text-shadow: 10px 20px 25px rgb(0, 54, 12);
    font-size: 202%;
  }
}

h2 {
  color: rgb(97, 137, 47);
}

h3 {
  color: #b2bda6;
  letter-spacing: 2.5px;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid rgb(0, 60, 0);
  background: linear-gradient(
    90deg, 
    rgb(1, 30, 1) 0%, 
    rgb(0, 60, 0) 100%);
}

p.clear {
  clear: both;
  padding-bottom: 0px;
}

.wrapper {
  z-index: 999;
  max-width: 1200px;
  margin: 0 auto;
  padding:20px;
  background-color: rgb(1, 70, 1);
  background: linear-gradient(
    90deg, 
    rgba(0, 12, 0, 0) 0%, 
    rgba(0, 12, 0, 0.6) 5%, 
    rgba(0, 50, 0, 0.8) 25%, 
    rgba(1, 50, 0, 0.8) 75%, 
    rgba(1, 12, 0, 0.6) 95%, 
    rgba(0, 12, 0, 0) 100%);
}

/* Menu box */
.flex-nav{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.flex-nav::backdrop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
.flex-nav ul {
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.flex-nav li{
  flex: 3; /*FILLS IN THE GAPS WITH BG-COLOR. THE BIGGER THE NUMBER THE BIGGER THE SPACE BETWEEN ITEMS */
  flex-basis: 100%;
  /* min-height: 90px; */
}

.flex-nav a, .footer a {
  color:white;
  /* font-weight: 100; */
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(1,70,1,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.6s;
}

.flex-nav a {
  min-height: 85px;
}

.flex-nav a:hover, .footer a:hover {
  background:rgba(97, 137, 47,0.5);
}

.project_link {
  text-decoration: none;
}

.project_outer {
  background-color: rgb(70, 80, 70);
  padding: 8px;
  border-radius: 20px;
}

.project {
  background-color: rgb(100, 130, 100);
  padding: 10px 20px;
  border-radius: 14px;
  border: 1px solid rgb(100, 100, 100);
}

.proj_container {
  display: flex;
  flex-direction: row;
}

.screenshot {
  /* float: right; */
  margin-left: 30px;
}

.screenshot img {
  border-radius: 10px;
}

.description {
  /* float: left; */
  background-color: rgb(160, 160, 160);
  border-radius: 10px;
  border: 1px solid rgb(70, 80, 70);
  padding: 20px;
  margin-bottom: 10px;
}


/* button styling */
.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(97, 137, 47, 0.5);
  border: 2px solid #003c00;
  border-radius: 0.6em;
  color: #003c00;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  background-color: rgba(97, 137, 47, 1);
  color: #fff;
  outline: 0;
}

.draw-border {
  border-color:  rgb(97, 137, 47);
  color: #003c00;
  box-shadow: 0 0 40px 40px  rgba(97, 137, 47, 0.5) inset, 0 0 0 0  rgba(97, 137, 47, 0.5);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.draw-border:hover {
  box-shadow: 0 0 10px 0  rgb(176, 190, 158) inset, 0 0 10px 4px  rgb(176, 190, 158);
}


@media all and (max-width:1000px) {
  .flex-nav ul { 
    flex-wrap: wrap;
  }
  .flex-nav li {
    flex: 1 1 50%; /*SETS FLEX-GROW | FLEX-SHRINK | FLEX-BASIS*/
  } 
}

@media all and (max-width:500px) {
  .flex-nav li {
    flex-basis: 100%; /*split into 1 column*/
  }
}

.about p, .about ul {
  color: rgb(214, 214, 214);
  margin: 20px;
}

.footer ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
.footer li{
  flex: 1 1 25%;  /*split into 4 columns*/
}