@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Permanent+Marker&family=Roboto&display=swap');
/*  font-family: 'Fjalla One', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto', sans-serif; */

html {
  box-sizing: border-box;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  letter-spacing: 0.5px;
  margin: 0;
  min-height: 100%;
  background-image: url(images/grid.png);
  position: relative;
}

header {
  background-color: darkslateblue;
}

h1, h2 {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  color: seagreen;
}

h1 {
  padding: 30px;
  color: azure;
}

h2 {
  color: darkslateblue;
}

p.clear {
  clear: both;
  padding-bottom: 20px;
}

.flex-nav a, .footer a {
  color:white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.9s;
}

.flex-nav a:hover, .footer a:hover {
  background:rgba(0,0,0,0.3);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding:50px;
  background-color: silver;
}

/* Menu box */
.flex-nav{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.flex-nav::backdrop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.flex-nav ul {
  border:none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* min-height: 50vh; */
}
.flex-nav li{
  flex: 3; /*FILLS IN THE GAPS WITH BG-COLOR. THE BIGGER THE NUMBER THE BIGGER THE SPACE BETWEEN ITEMS*/
  flex-basis: 100%;
}

@media all and (max-width:1000px) {
  .flex-nav ul { 
    flex-wrap: wrap;
  }
  .flex-nav li {
    flex: 1 1 50%; /*SETS FLEX-GROW | FLEX-SHRINK | FLEX-BASIS*/
  } 
}

@media all and (max-width:500px) {
  .flex-nav li {
    flex-basis: 100%; /*split into 1 column*/
  }
}

.footer ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
.footer li{
  flex: 1 1 25%;  /*split into 4 columns*/
}